# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.VRInteraction.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\UnityMiscProjects\VRInteraction\.idea\.idea.VRInteraction\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
